  <header class="main-header" role="banner">
    <div class="container">
      {{ page.header }}

      <div class="main-navigation">
        {{page.main_navigation}}
      </div>

      <div class="rain-cancellation">
        {{page.rain_cancelled}} 
        <img src="pic_logo.png" alt="Mountain View" style="width:304px;height:228px;">
      </div>
    </div>
  </header>

